<h1>Hi! Please confirm your email!</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement <i>L'équipe Sub'Immo</i>
</p>