{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier commentaire{% endblock %}

{% block body %}
<h1>Modifier commentaire</h1>

{{ include('comment/_form.html.twig', {'button_label': 'Valider'}) }}


{% endblock %}