 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style-type: none;
     text-decoration: none;
     font-size: lighter;
 }


 #aside {
     min-height: calc(100vh -78.4px - 50px);
 }

#aside a {
    color: #FFFFFF;
}

nav {
    min-height: calc(100vh - 78.4px - 50px);
}

nav a {
    color: #FFFFFF;
}
nav a:hover {
    color: #9e9898;
}

footer p {
    font-size: 0.75em;
}

table img {
    width: 100px;
}