{% extends 'baseAdmin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Accueil de l'espace administrateur</h1>

<p>Merci de cliquer sur un lien dans le menu de gauche pour commencer à administrer votre site. Le contenu apparaitra
    dans cette section.</p>

{% endblock %}